@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome!</h1>

<div>
    <a asp-page="WishlistItems/Index" class="btn btn-block">See your wishlist!</a>
</div>